<!DOCTYPE html>
<style>
@font-face {
	font-family: 'YanoneKaffeesatzRegular';
	src: url('./fonts/yanonekaffeesatz-regular-webfont.eot');
	src: url('./fonts/yanonekaffeesatz-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('./fonts/yanonekaffeesatz-regular-webfont.woff') format('woff'),
	url('./fonts/yanonekaffeesatz-regular-webfont.ttf') format('truetype'),
	url('./fonts/yanonekaffeesatz-regular-webfont.svg#YanoneKaffeesatzRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
</style>


	<div id="wrap">
		<h1>Ride2Rail!</h1>
		<div id='form_wrap'>
                 <%= form_tag "/api/address" do %>
			<p id="formstatus"></p>
				<label for="name">Kindly enter your name : </label><br/><br/>
				<%= text_field_tag :name %>
				<label for="email">Kindly enter your email : </label><br/><br/>
				<%= text_field_tag :email %>
				<label for="address">Kindly enter pick up address : </label><br/><br/>
				<%= text_area_tag :address %>
				<%= hidden_field_tag :pnr, params[:pnr] %>
				<%= hidden_field_tag :scode, params[:scode] %>
				<%= hidden_field_tag :train_no, params[:tn] %>
				<%= hidden_field_tag :doj, params[:jrny] %>
				<%= submit_tag "Submit" ,  :action => 'address'  %>
	   	  <% end %>
		</div>
	</div>

<script type="text/javascript">

	$('form').submit(function () {
    var address = $.trim($('#address').val());
    var name = $.trim($('#name').val());
    var email = $.trim($('#email').val());
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    if (email === '' || name === '' || address === '' ){
	 alert('please fill up all the fields !');
        return false;

    }
    else{
    
	if (re.test(email))
	{
		return (true)  	
	}
	else {

 		alert("You have entered an invalid email address!")  
    		return (false)
	} 
    }
});

</script>




